@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "poppins";
}

.app-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.highlight-container {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-btn {
  background-color: var(--PURPLE, #7261FF);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8.41px;
  cursor: pointer;
  width: 155px;
  height: 43px;
}

.highlight-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.highlight-item.dragged {
  background-color: #e0e0ff;
}

.drag-handle {
  cursor: grab;
  padding: 0 10px;
  font-size: 18px;
}

.highlight-item p {
  flex-grow: 1;
  cursor: pointer;
  margin: 0;
}

.highlight-item input {
  flex-grow: 1;
  padding: 5px;
}

.delete-btn {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 20px;
}

.heading{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 15.72px;
  text-align: left;
  color: #7261FF;
}

.heading-icon{
  color: gray;
 font-size: 15px;
}
